$lt-gray: #ddd;
$background-light: #9575CD;
$background-moredark: #4527A0;
$white: floralwhite;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color: $white;
    min-height: 150px;
}

.active {
    background: $background-moredark;
    color: $white;
}