.container {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.mat-card {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {

  .mat-card-actions .mat-button,
  .mat-card-actions .mat-raised-button,
  .mat-card-actions .mat-stroked-button {
    margin: 0;
  }

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    padding: 0;
    min-width: 50px;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin: 4% 2%;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.label-vertical {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  height: 48px;
}

.rating-value {
  font-weight: 600;
}

.mat-slider {
  max-width: 300px;
}

.mat-form-field {
  max-width: 500px;
}