.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

mat-card img {
    max-width: 400px;
    max-height: 350px;
}

@media screen and (max-width: 500px) {
    mat-grid-tile img {
        width: 100%;
    }
    
    .description {
        display: none;
    }
}